<a href="/" class='btn btn-link'>&laquo; Back to homepage</a>

<h3>Posts with tag &quot;<%= tag %>&quot;</h3>

<% if posts.present? %>
    <% posts.each do |post| %>
      <%= erb :_post_list, :locals => {:post => post, :post_id => post.id} %>
    <% end %>
<% else %>
    <p>No posts exist for this tag yet.</p>
<% end %>