<h1>Microblog</h1>

<a href="/new" class="btn btn-primary">Add post</a>

<% if tags.present? %>
    <h3>Tags</h3>
    <p>
        <% tags.each do |tag| %>
            <a href="/search/<%= tag %>" class="btn btn-link"><%= tag %></a>
        <% end %>
    </p>
<% end %>

<h3>Posts</h3>

<% if posts.present? %>
    <% posts.each do |post| %>
        <%= erb :_post_list, locals: { post: post, post_id: post.id } %>
    <% end %>
<% else %>
    <p>No posts exist yet.</p>
<% end %>
