<a href="/lectures/new" class="btn btn-primary">Add lecture</a>

<h3>Lectures</h3>

<% if @lectures.present? %>
    <table class="table table-hover table-striped table-condensed">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <% @lectures.each do |lecture| %>
            <tr>
                <td><%= lecture.name %></td>
                <td class='buttons'>
                    <a href="/lectures/<%= lecture.id %>" class="btn btn-xs btn-default">View</a>
                    <a href="/lectures/<%= lecture.id %>/edit" class="btn btn-xs btn-default">Edit</a>
                    <a href="/lectures/<%= lecture.id %>/tasks" class="btn btn-xs btn-info">Tasks</a>
                </td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>No lectures exist yet.</p>
<% end %>